/* || General setup */

html, body, header, main {
    width: 21.6cm;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

html {
    margin-bottom: 1%;
}

main {
    margin-top: 201px;
}

/* header */

.top_bar {
    position: fixed;
    background-color: white;
    overflow: hidden;
    top: 0;
    padding-top: 17px;
}

.hr_type1 {
    height: 2px;
    color: black;
    background: black;
}

.hr_type2 {
    height: 1px;
    color: black;
    background: black;
}

.target_job {
    font-size: 22px;
}

#name {
    font-size: 31px;
    font-weight: bold;
}

#mailing_address {
    font-size: 24px;
    display: inline;
}

#cell_number {
    font-size: 21px;
    float: right;
}

#email_address {
    font-size: 24px;
    color: black;
}

#linkedin_address {
    font-size: 23px;
    float: right;
    color: black;
}

/* titles */

.target_job, .highlights_title, .section_title {
    text-transform: uppercase;
    text-align: center;
}

.highlights_title, .section_title {
    font-size: 18px;    
}

/* lists */

.highlights_list {
    margin-left: 16px;
    list-style-type: square;
}

.other_list {
    margin-top: 0px;
    margin-left: 5px;
}

/* details */

.job_title {
    display: inline;
    font-size: 19px;
}

.date {
    float: right;
}

.project {
    margin-left: 20px;
}

.degree {
    display: inline;
}

.school{
    margin-left: 10px;
}